<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Planets</key>
	<array>
		<dict>
			<key>Earn Rate</key>
			<integer>1</integer>
			<key>Cost</key>
			<integer>2</integer>
			<key>Name</key>
			<string>Earth</string>
			<key>Description</key>
			<string>A small, polluted hell hole.</string>
			<key>Picture</key>
			<string>Cold World.jpg</string>
			<key>Type</key>
			<string>Wasteland</string>
		</dict>
		<dict>
			<key>Earn Rate</key>
			<integer>2</integer>
			<key>Cost</key>
			<integer>8</integer>
			<key>Name</key>
			<string>Mars</string>
			<key>Description</key>
			<string>A red dump of a planet.</string>
			<key>Picture</key>
			<string>Drye.jpg</string>
			<key>Type</key>
			<string>Wasteland</string>
		</dict>
		<dict>
			<key>Earn Rate</key>
			<integer>3</integer>
			<key>Cost</key>
			<integer>27</integer>
			<key>Name</key>
			<string>Ars Planetus</string>
			<key>Description</key>
			<string>A gas giant. Rumor has it the core is pure Uranium!</string>
			<key>Picture</key>
			<string>Pyrobora.jpg</string>
			<key>Type</key>
			<string>Gas</string>
		</dict>
		<dict>
			<key>Earn Rate</key>
			<integer>4</integer>
			<key>Cost</key>
			<integer>64</integer>
			<key>Name</key>
			<string>Perseus</string>
			<key>Description</key>
			<string>A tropical paradise.</string>
			<key>Picture</key>
			<string>Mostly Harmless.jpg</string>
			<key>Type</key>
			<string>Jungle</string>
		</dict>
		<dict>
			<key>Earn Rate</key>
			<integer>5</integer>
			<key>Cost</key>
			<integer>125</integer>
			<key>Name</key>
			<string>X-31337</string>
			<key>Description</key>
			<string>A dead star made of worthless diamond.</string>
			<key>Picture</key>
			<string>Dead World.jpg</string>
			<key>Type</key>
			<string>Diamond</string>
		</dict>
        <dict>
			<key>Earn Rate</key>
			<integer>6</integer>
			<key>Cost</key>
			<integer>150</integer>
			<key>Name</key>
			<string>Grahmasville</string>
			<key>Description</key>
			<string>Small and hot, like your mom.</string>
			<key>Picture</key>
			<string>Waterless World.jpg</string>
			<key>Type</key>
			<string>Desert</string>
		</dict>
        <dict>
			<key>Earn Rate</key>
			<integer>8</integer>
			<key>Cost</key>
			<integer>320</integer>
			<key>Name</key>
			<string>Hermes</string>
			<key>Description</key>
			<string>The former homeworld of Miss Universe.</string>
			<key>Picture</key>
			<string>Caldonia.jpg</string>
			<key>Type</key>
			<string>Waterworld</string>
		</dict>
        <dict>
			<key>Earn Rate</key>
			<integer>9</integer>
			<key>Cost</key>
			<integer>200</integer>
			<key>Name</key>
			<string>Slab</string>
			<key>Description</key>
			<string>A tiny gas giant.</string>
			<key>Picture</key>
			<string>Small Gas Giant.jpg</string>
			<key>Type</key>
			<string>Gas</string>
		</dict>
        <dict>
			<key>Earn Rate</key>
			<integer>10</integer>
			<key>Cost</key>
			<integer>500</integer>
			<key>Name</key>
			<string>Sweep</string>
			<key>Description</key>
			<string>The windy planet, filled with politicians.</string>
			<key>Picture</key>
			<string>High Winds.jpg</string>
			<key>Type</key>
			<string>Earthlike</string>
		</dict>
	</array>
</dict>
</plist>
